//
//  Config.xcconfig
//  SoundCloudChallenge
//
//  Created by Jonathan Crooke on 11/03/2012.
//  Copyright (c) 2012 J. Crooke. All rights reserved.
//

SDKROOT = iphoneos
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
COPY_PHASE_STRIP = NO
TARGETED_DEVICE_FAMILY = 1
IPHONEOS_DEPLOYMENT_TARGET = 5.0
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
PRODUCT_NAME = $(PROJECT_NAME)
INFOPLIST_FILE = $PROJECT_DIR/$PROJECT_NAME-Info.plist
GCC_PREFIX_HEADER = $PROJECT_DIR/$PROJECT_NAME-Prefix.pch
HEADER_SEARCH_PATHS = $PROJECT_DIR/**
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_PRECOMPILE_PREFIX_HEADER = NO
RUN_CLANG_STATIC_ANALYZER = NO

OTHER_LDFLAGS_SHARED = -framework UIKit -framework AddressBookUI -framework AddressBook -framework CoreLocation -framework CoreText -framework QuartzCore -framework Security -framework Foundation -framework CoreGraphics -all_load -ObjC 
OTHER_LDFLAGS = $OTHER_LDFLAGS_SHARED

// GCC warnings...
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
//GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
//GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
